<%= form_for @especialidade, :html => { :class => "form-horizontal especialidade" } do |f| %>

    <% if @especialidade.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@especialidade.errors.count, "error") %> prohibited this especialidade from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @especialidade.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%= error_span(@especialidade[:nome]) %>
  </div>
  <div class="control-group">
    <%= f.label :descric, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :descric, :class => 'form-control' %>
    </div>
    <%= error_span(@especialidade[:descric]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            especialidades_path, :class => 'btn btn-default' %>

<% end %>
